body {
    background-image:url(https://media.giphy.com/media/hsK59iDP8G5QVMMRl7/giphy.gif);
    background-size: cover;
    background-attachment: fixed;

    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    line-height: 1.6em;
}

#header-main {
    text-align: center;
    color: #F730FB;
}

/* #E961F2 */

.box-1 {
    text-align: center;
}
#text-color {
    color: #F730FB;
    padding: 4px;
}

.images {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 20px;
}
#imgs {
    margin-top: -14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-1 {
    padding-top: 10px;
    text-align: center;
}

.list-2 {
    padding-top: 20px;
    text-align: center;
}

#footer-main {
    text-align: center;
}

#link-color {
    color: white;
}

hr {
    margin-left: 400px;
    margin-right: 400px;
}